.fss-container {
    position: relative;
    margin-top: 56px;
    margin: 0;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
}

.fss,
.takeover {
    position: fixed;
    top: 56px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    border: none;
}

.fss-container.io{
    height: 100vh;
}
.fss.programmatic{
    height: calc(100vh - 56px);
}


.fss-nav.programmatic{
    opacity: 1 !important;
} 

.fss.io{
    top: 0px;
}

.ad.io{
    top: 0px; 
}