.bonnier-welcome-page-container{
    height: calc(100vh - 40px);
}

.bonnier-welcome-page{
    position: absolute;
    aspect-ratio: 16/9;
    width: 100vw;
    height: auto !important;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    transition: 0s;
}

.page{
    position: relative;
}

.to-expressen{
    width: 100vw;
    height: 40px;
    background-color: #0076d6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.bonnier-wp-nav{
    position: relative;
}
@media (min-aspect-ratio: 2.47/1) {
    .bonnier-welcome-page{
        width: auto;
        height: 133vh !important;
    }
}