
iframe{
    transition: .5s;
}

.welcome-page-nav {
    position: sticky;
    top: 0;
}

/* Aftonbladet */
.welcome-page-page {
    position: relative;
    top: 88.5vh;
    transition: .5s;
    z-index: 5;
}
/* SvD */
/* .welcome-page-page {
    position: relative;
    top: 100vh;
    transition: .5s;
} */


.welcome-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0px 0px 0px 0px;
    /* to not clickout on dropdown */
    z-index: -1;
}

.arrow-down{
    aspect-ratio: 1/1;
    width: 54px;
    margin-top: 22px;
}

.scroll-down {
    margin-top: 28px;
    width: 26px;
    transform: translate(-20%);
}

.close-ad {
    position: fixed;
    z-index: 5;
    top: 42px;
    left: 16px;
    aspect-ratio: 1/1;
    transform: rotate(45deg);
}

.close-line{
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #fff;
}


.continue-scroll {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: calc(15vh + 7px);
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    max-width: 100%;
    color: #fff;
    font-family: Arial, sans-serif;
}

.continue-scroll.SvD{
    bottom: 106px;
}


.rot-90{
    transform: rotate(90deg);
}

.ad-wp {
    position: fixed;
    z-index: 5;
    background-color: #ffffffc4;
    padding: 7px;
    font-size: 10px;
    font-family: Arial, sans-serif;
}


@media only screen and (max-width: 970px) {
    .mobile-size-adjustment.Aftonbladet{
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    .mobile-size-adjustment.SvD{
        height: 100dvh;
    }

    .welcome-page{
        padding: 0;
    }

    .welcome-page-nav {
        position: relative;
        width: 100vw;
    }

    .arrow-down{
        aspect-ratio: 1/1;
        width: 26px;
        margin-top: 19px;
    }

    .welcome-page-page {
        position: absolute;
        top: calc(100svh - 88px);
        transition: .5s;
    }

    .continue-scroll {
        font-size: 18px;
        transform: translate(-50%);
        bottom: calc(15vh + 4px);
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,.2));
    }
    
    .scroll-down {
        margin-top: 19px;
        width: 26px;
    }

    .close-line{
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
    }

    .continue-scroll.SvD{
        bottom: 86px;
        font-size: 20px;
        margin-bottom: 0 !important;
    }
}
