 .outer-article-container{
    position: relative;
    z-index: 30;
}


.article-block:first-child{
    padding-top: calc(74px);
}

.article-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    max-width: 1028px;
    border-bottom: 1px solid lightgray;
}

.image{
    aspect-ratio: 16/8;
    width: 100vw;
    background-color: gray;
}

.img-desc{
    background-color: rgb(68, 68, 68);
    width: 55%;
    max-width: 320px;
    height: 6px;
    margin: .2rem .5rem;
    border-radius: 4px;
}

article{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .4rem;
    border-radius: 4px;
}
.content-text, .titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.text {
    width: 100%;
    max-width: 620px;
    height: 12px;
    background-color: rgb(171, 171, 171);
    border-radius: 4px;
}

.text-heading {
    width: 85%;
    max-width: 480px;
    height: 22px;
    background-color: rgb(171, 171, 171);
    border-radius: 4px;
}

.text-sub-heading {
    width: 60%;
    max-width: 380px;
    height: 17px;
    background-color: rgb(171, 171, 171);
    border-radius: 4px;
}

.article-long-cut{
    width: 95%;
    max-width: 600px;
}

.article-medium{
    width: 85%;
    max-width: 570px;
}

.article-medium-cut{
    width: 80%;
    max-width: 540px;
}

.article-short{
    width: 25%;
    max-width: 120px;
}



@media only screen and (min-width: 820px){
    .image{
        width: 400px;
        aspect-ratio: 16/9;
        border-radius: 5px;
    }

    .outer-article-container{
        position: relative;
        z-index: 30;
    }

    .article-block:first-child{
        padding-top: calc(74px + 3rem);
    }
    .article-container{
        width: 1028px;
    }

    .text-heading {
        height: 28px;
    }
    
    .text-sub-heading {
        width: 60%;
        max-width: 380px;
        height: 24px;
        background-color: rgb(171, 171, 171);
        border-radius: 4px;
    }

    .page{
        display: flex;
        flex-direction: column;
    }

    .article-block{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 30;
        background-color: rgb(236, 236, 236);;
    }

    .article-container{
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
    }
}


 